#order-type-opt{
    display: flex;
}
#order-main-details{
    display: flex;
}
.order-opt-container{
    padding-right: 10px;
    padding-left: 10px;
    border-right: #bababa solid thin;
}
.order-opt-container>p{
    cursor: pointer;
}
.selected{
    color: #E94C24;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5px;
}
.product-order-image{
    background-color: #bababa;
    width: 150px;
    height: 150px;
    border: hidden;
    border-radius: 20px;
}
