<div class="loader-container" *ngIf="loadState == 'load1'">
  <div id="loading" class="container">
    <div class="loader-container">
      <div class="loader"></div>
      <div class="loading-text">Loading...</div>
    </div>
</div>
</div>
<div class="loader-container" *ngIf="loadState == 'load2'">
  <div id="loading" class="loading-overlay" id="loadingOverlay">
    <div class="wrapper">
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="circle"></div>
         <div class="shadow"></div>
         <div class="shadow"></div>
         <div class="shadow"></div>
    </div>
</div>
</div>
<div class="loader-container" *ngIf="loadState == 'load3'">
  <div id="loading" class="loading-overlay" id="loadingOverlay">
    <div class="boxes">
         <div class="box">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
         </div>
         <div class="box">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
         </div>
         <div class="box">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
         </div>
         <div class="box">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
         </div>
     </div>
  </div>
</div>
<div class="loader-container" *ngIf="loadState == 'load4'">
  <div id="loading" class="loader">
    <label>Please wait...</label>
    <div class="loading"></div>
    </div>
</div>
<div class="loader-container" *ngIf="loadState == 'load5'">
  <div id="loading" class="loading-overlay" id="loadingOverlay">
    <div class="spinner"></div>
  </div>
</div>
<div class="loader-container" *ngIf="loadState == 'error'"></div>
<div class="loader-container" *ngIf="loadState == 'no network'"></div>