.card {
    border: none;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.card-title {
    justify-content: space-between;
    place-items: center;
    align-items: center;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.original {
    color: #E94C2A;
}
.mrkt-btn{
    background-color: #E94C2A;
    border-color: #E94C2A;
}
.bold-title{
    font-weight: 700;
    font-size: large;
}