<div class="card" style="width: 20rem; height: 30rem;">
    <div class="bon card-title d-flex">
         <a href="#" class="btn btn-pri percent">90%</a>
         <a href="#" class="btn btn-pri love"><i class="fa-regular fa-heart" style="color: #e94c2a;"></i></a>
    </div>

    <img [src]="'http://localhost/markt_php/uploads/'+productData.product_images[0]+'small.jpg'" >

    <div class="card-title  d-flex">
         <a href="#" class="btn btn-sm btn-pri cartgo">{{productData.product_category}}</a>
         <h5 class="original">{{productData.product_price}}</h5>
    </div>
    
    <p class="card-text">{{productData.product_name}}</p>

    <div class="bon card-title d-flex">
         <button href="#" class="btn btn-pri">Add to Cart</button>
         <button href="#" class="btn btn-primary" routerLink="/display" 
         [queryParams]="[productData.product_id]">View Product</button>
    </div>
</div>
