#top-bar,.user-set-cont{
    display: flex;
    align-items: center;
}
#top-bar-small{
    display: none;
}
#top-bar,#top-bar-small{
    width: 100%;
    justify-content: space-between;
}
.logout-link{
    font-size:x-large;
    cursor: pointer;
}
.user-contrl-cont{
    width: 50%;
    justify-content: space-evenly;
}
.logo-icon{
    width: 40px;
    height: 40px;
}
@media screen and (max-width:800px){
    #top-bar{
        display: none;
    }
    #top-bar-small{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    .hamburger-cont{
        width: max-content;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .hamburger{
        display: flex;
        height: 3.5px;
        background-color: black;
        margin: 3px;
        border-radius: 2px;
    }
    #long{
        width: 45px;
        animation: cutbackandxone 1.2s ease-out forwards;
    }
    #short{
        width: 30px;
        animation: cutbackandxtwo 1.2s ease-out forwards;
    }
    .container-for-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        width: 70vw;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.25) 113px 54px 500px;
        animation: slide 0.5s ease forwards;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    hr{
        margin-bottom: 20px;
    }
    .logout-link{
        font-size:large;
        margin-left: 15px;
    }
}