<div>
    <div *ngIf="level == 'getdetails'">
        <div *ngIf="recoverytype == 'email'" class="ret-space">
            <h1>Please enter your email here</h1>
            <p>we are going to email you</p>
            <input type="text" name="" class="inputs" [(ngModel)]="useremail">
            <button class="button-active" (click)="recoverytypeset('phone')">Use Phone Number instead</button>
            <button class="button-active" [disabled]="!checkvalidemail()" (click)="tocoderecsegment()">Continue</button>
        </div>
        <div *ngIf="recoverytype == 'phone'" class="ret-space">
            <h1>Please enter your phone number here</h1>
            <p>we are going to send you a quick message</p>
            <input type="text" name="" class="inputs" [(ngModel)]="userphonenumber">
            <button class="button-active" (click)="recoverytypeset('email')">Use Email instead</button>
            <button class="button-active" [disabled]="!checkvalidphone()" (click)="tocoderecsegment()">Continue</button>
        </div>
    </div>
    <div class="ret-space" *ngIf="level == 'not found'">
        <h1>Not Found</h1>
        <p *ngIf="usertype == 'buyer'">
            You were not found in our buyer records, try signing in as a seller or delivery
        </p>
        <p *ngIf="usertype == 'seller'">
            You were not found in our seller records, try signing in as a buyer or delivery
        </p>
        <p *ngIf="usertype == 'delivery'">
            You were not found in our delivery records, try signing in as a seller or buyer
        </p>
        <button routerLink="/userauth" class="button-active">Go back to login</button>
    </div>
    <div *ngIf="level == 'entercode'" class="ret-space">
        <h1 *ngIf="recoverytype == 'email'">Enter the code we sent to your email here</h1>
        <h1 *ngIf="recoverytype == 'phone'">Enter the code we sent to your phone number here</h1>
        <!-- <span class="bar">
            <span class="ret-code">{{retrievalcode[0]}}</span>
            <span class="ret-code">{{retrievalcode[1]}}</span>
            <span class="ret-code">{{retrievalcode[2]}}</span>
            <span class="ret-code">{{retrievalcode[3]}}</span>
            <span class="ret-code">{{retrievalcode[4]}}</span>
            <span class="ret-code">{{retrievalcode[5]}}</span>
        </span> -->
        <span>
            <label for="retrievalcode">Retrieval Code</label>
            <input type="text" name="retrievalcode" id="retrievalcode" class="inputs" [(ngModel)]="retrievalcode">
        </span>
        <span>
            <label for="newpassword">New Password</label>
            <input type="password" name="newpassword" id="newpassword" class="inputs" [(ngModel)]="newpassword">
        </span>
        <button class="button-active" [disabled]="!retcodeandpasswordcorrect()" (click)="submitcodeandpassword()">
            Submit and Continue</button>
    </div>
    <div  *ngIf="level == 'retrievalresult'">
        <div *ngIf="passwordchanged" class="ret-space">
            <h1>Your Password has been Successfully Changed</h1>
            <p>Go back to the login page and login with your new details</p>
            <button routerLink="/userauth" class="button-active">Go back to login</button>
        </div>
        <div *ngIf="!passwordchanged" class="ret-space">
            <h1>Your Password could not be reset</h1>
            <p>Go back to the login page and try again</p>
            <button routerLink="/userauth" class="button-active">Go back to login</button>
        </div>
    </div>
</div>