<footer class="bg-black text-white pt-16">
  <div class="footer-main-content flex justify-between gap-16">
    <div class="col-1 flex flex-col gap-4">
      <div><img src="/assets/markt-logo.svg" alt="Markt logo" /></div>
      <p class="text-lg">Subscribe</p>
      <p class="text-sm">Get 10% off your first order</p>
      <div class="input-wrapper">
        <input
          type="email"
          placeholder="Enter your email"
          class="text-black input-field rounded"
        />
        <img src="/assets/send-icon.svg" alt="Send Icon" class="send-icon" />
      </div>
    </div>
    <div class="col-2 flex flex-col gap-4">
      <p class="text-lg">Support</p>
      <p class="text-sm">12, Hollywoodrath rise Hollystown Dublin</p>
      <p class="text-sm">{{ "support@marktcommerce.com" }}</p>
      <p class="text-sm">+1234-56-7890</p>
    </div>
    <div class="col-3 flex flex-col gap-4">
      <p class="text-lg">Account</p>
      <p class="text-sm">My Account</p>
      <p class="text-sm">Login / Register</p>
      <p class="text-sm">Cart</p>
      <p class="text-sm">Wishlist</p>
      <p class="text-sm">Shop</p>
    </div>
    <div class="col-4 flex flex-col gap-4">
      <p class="text-lg">Quick Link</p>
      <p class="text-sm">Privacy Policy</p>
      <p class="text-sm">Terms of Use</p>
      <p class="text-sm">FAQ</p>
      <p class="text-sm">Contact</p>
    </div>
    <div class="col-5 flex flex-col gap-4">
      <p class="text-lg">Follow On all Social Media Handles</p>
      <p class="text-xs">Get Updates on New Products</p>
    </div>
  </div>
</footer>
