<footer class="bg-black text-white p-16">
  <div class="footer-main-content flex justify-around">
    <div class="col-1 flex flex-col gap-4">
      <div><img src="/assets/markt-logo.svg" alt="Markt logo" /></div>
      <p>Subscribe</p>
      <p class="text-xs">Get 10% off your first order</p>
      <div class="input-wrapper">
        <input
          type="email"
          placeholder="Enter your email"
          class="text-black input-field rounded"
        />
        <img src="/assets/send-icon.svg" alt="Send Icon" class="send-icon" />
      </div>
    </div>
    <div class="col-2 flex flex-col gap-4">
      <p>Support</p>
      <p class="text-xs">12, Hollywoodrath rise Hollystown Dublin</p>
      <p class="text-xs">{{ "support@marktcommerce.com" }}</p>
      <p class="text-xs">+1234-56-7890</p>
    </div>
    <div class="col-3 flex flex-col gap-4">
      <p>Account</p>
      <p class="text-xs">My Account</p>
      <p class="text-xs">Login / Register</p>
      <p class="text-xs">Cart</p>
      <p class="text-xs">Wishlist</p>
      <p class="text-xs">Shop</p>
    </div>
    <div class="col-4 flex flex-col gap-4">
      <p>Quick Link</p>
      <p class="text-xs">Privacy Policy</p>
      <p class="text-xs">Terms of Use</p>
      <p class="text-xs">FAQ</p>
      <p class="text-xs">Contact</p>
    </div>
    <div class="col-5"></div>
  </div>
</footer>
