<footer class="bg-black text-white">
  <div class="footer-main-content flex justify-between gap-8 pt-16 pb-16">
    <div class="col-1 flex flex-col gap-4">
      <div><img src="/assets/markt-logo.svg" alt="Markt logo" /></div>
      <p class="text-lg mb-2">Subscribe</p>
      <p class="text-sm">Get 10% off your first order</p>
      <div class="input-wrapper">
        <input
          type="email"
          placeholder="Enter your email"
          class="text-white input-field rounded"
        />
        <img src="/assets/send-icon.svg" alt="Send Icon" class="send-icon" />
      </div>
    </div>
    <div class="col-2 flex flex-col gap-4">
      <p class="text-lg mb-2">Support</p>
      <a class="text-sm">12, Hollywoodrath Rise Hollystown Dublin</a>
      <a class="text-sm">{{ "support@marktcommerce.com" }}</a>
      <a class="text-sm">+1234-56-7890</a>
    </div>
    <div class="col-3 flex flex-col gap-4">
      <p class="text-lg mb-2">Account</p>
      <a class="text-sm">My Account</a>
      <a class="text-sm">Login / Register</a>
      <a class="text-sm">Cart</a>
      <a class="text-sm">Wishlist</a>
      <a class="text-sm">Shop</a>
    </div>
    <div class="col-4 flex flex-col gap-4">
      <p class="text-lg mb-2">Quick Link</p>
      <a class="text-sm">Privacy Policy</a>
      <a class="text-sm">Terms of Use</a>
      <a class="text-sm">FAQ</a>
      <a class="text-sm">Contact</a>
    </div>
    <div class="col-5 flex flex-col gap-4">
      <p class="text-lg mb-2">Follow On all Social Media Handles</p>
      <a class="text-xs text-gray-200">Get Updates on New Products</a>
      <ul class="social-icons flex gap-4">
        <li>
          <img src="/assets/facebook-icon.svg" alt="Facebook icon" />
        </li>
        <li>
          <img src="/assets/Icon-Twitter.svg" alt="Twitter icon" />
        </li>
        <li>
          <img src="/assets/instagram-icon.svg" alt="Instagram icon" />
        </li>
        <li>
          <img src="/assets/linkedin-icon.svg" alt="LinkedIn icon" />
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="flex items-center justify-center p-4 gap-2">
      <img src="/assets/copyright-icon.svg" alt="Copyright Icon" />
      <span class="text-gray-500"
        >Copyright Markt {{ currentYear }}. All right reserved</span
      >
    </p>
  </div>
</footer>
