.main-user-det-cont{
    border-bottom: solid thin #e4e4e4;
    padding: 10px;
    display: flex;
    align-items: center;
}
.profile-img{
    width: 200px;
    height: 200px;
    background-color: #c2c2c2;
    border: hidden;
    border-radius: 100%;
    margin: 20px;
}
.basc-info{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.catg-cont{
    display: flex;
    flex-wrap: wrap;
}
.t-det-top{
    display: flex;
    align-items: center;
}
.t-det-top>h3{
    color: #E94C24;
}
#profile_image_uploader{
    display: none;
}
@media screen and (max-width:800px){
    .main-user-det-cont{
        flex-direction: column;
    }
    .basc-info{
        display: block;
    }
    .small-to-center{
        text-align:center
    }
}