#product-create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed #E94C24 thick;
    border-radius: 20px;
    height: max-content;
    padding: 10px;
    color: #E94C24;
    font-weight: bolder;
}
#product-create>h1{
    font-size: 4rem;
    margin: 0;
}
.bar-opts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}