<div class="content">
    <h1>Your Products</h1>
    <div class="products-container">
        <div *ngFor="let item of sellerproducts" class="product">
            <img [src]="'http://localhost/markt_php/uploads/'+item.product_images[0]+'small.jpg'" 
            alt="" srcset="" class="product-image" loading="lazy">
            <div class="product-details">
                <h3>{{item.product_name}}</h3>
                <span class="bar">
                    <p>{{item.product_price}}</p>
                </span>
            </div>
            <div class="bar-opts product-details">
                <button class="button-active">Edit</button>
                <button class="button-active">Delete</button>
            </div>
        </div>
        <div id="product-create" (click)="opennewproductcomponent()">
            <h1>+</h1>
            <h3>Create a new Product</h3>
        </div>
    </div>
        <app-create-product [seller_id]="userid" (open)="setnewproductstate($event)" 
        *ngIf="newproductcomponentopen"></app-create-product>
</div>
