<app-top-header></app-top-header>
<div class="p-4 container">
  <div class="app-nav flex justify-around items-center">
    <a href="/"
      ><img
        src="/assets/markt-logo.svg"
        alt="markt-logo"
        class="cursor-pointer"
    /></a>
    <ul class="flex gap-16">
      <li><a href="">Home</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Sign Up</a></li>
    </ul>
    <div class="input-wrapper">
      <input
        type="text"
        placeholder="What are you looking for?"
        class="text-black"
      />
      <img src="/assets/search-icon.svg" alt="Search Icon" />
    </div>
  </div>
</div>
