.query-container{
    width: 95%;
    border-bottom: solid thin #b1b1b1;
}
.query-det-container{
    display: flex;
}
.profile-image{
    width: 50px;
    height: 50px;
    border: solid thick #E94C24;
    border-radius: 50%;
    padding: 5px;
}
.cont-details{
    width: 80%;
}
.cont-details>h2,.date-created{
    margin: 0;
}
.date-created{
    font-weight: 600;
    color: #5b5b5b;
}
.profile-image-cont,.cont-details{
    padding: 10px;
}
.righter{
    display: flex;
    flex-direction: row-reverse;
}
.chat-icon{
    width: 33px;
    height: 30px;
}
.message{
    margin-top: 15px;
}