<div class="content">
    <h1>Buyer Queries</h1>
    <div>
        <div *ngFor="let query of queries" class="query-container">
            <div class="query-det-container">
                <div class="profile-image-cont">
                    <img [src]="'http://localhost/markt_php/uploads/'+query.profile_image+'small.jpg'" 
                    class="profile-image" alt="" srcset="">
                </div>
                <div class="cont-details">
                    <h2>{{query.buyer_name}}</h2>
                    <p class="date-created">posted {{settimesince(query)}}</p>
                    <span class="cont-message">
                        <p class="message">{{query.message}}</p>
                    </span>
                </div>
            </div>
            <div class="righter">
                <button class="button-active"> 
                    <svg class="chat-icon" width="52" height="55" viewBox="0 0 52 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1130_225)">
                    <path d="M26 6.875C15.2565 6.875 6.5 16.1367 6.5 27.5C6.5 38.8633 15.2565 48.125 26 48.125V55.2104L29.3346 52.95C34.1789 49.6637 43.0128 42.5685 45.0641 31.8148C45.345 30.4277 45.5 28.9844 45.5 27.5C45.5 16.1367 36.7435 6.875 26 6.875ZM26 11.4583C34.4012 11.4583 41.1667 18.6141 41.1667 27.5C41.1667 28.6554 41.0467 29.7811 40.8239 30.8748L40.8197 30.8927L40.8154 30.9062C39.5281 37.6621 34.6051 42.6369 30.3333 46.1511V43.0806L27.8958 43.4029C27.2438 43.4891 26.6152 43.5417 26 43.5417C17.5988 43.5417 10.8333 36.3859 10.8333 27.5C10.8333 18.6141 17.5988 11.4583 26 11.4583Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1130_225">
                    <rect width="52" height="55" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    Chat</button>
            </div>
        </div>
    </div>
</div>