#new-prod-cont{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    height: 70vh;
    top: 15vh;
    left: 30vw;
    border: hidden;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.darkened{
    background-color: darkgray;
}
#product_description{
    height: 300px;
}
#sec-prod-cont{
    overflow-y: scroll;
}
#product_images{
    opacity: 0;
}
#product_image_label{
    border: dashed;
    color: #E94C24;
    padding: 15px;
}
.list,#images-list-cont{
    display: flex;
    flex-wrap: wrap;
}
.small-image-displays{
    width: 100px;
    height: 100px;
    border: hidden;
    border-radius: 10px;
    margin: 10px;
}
@media screen and (max-width:800px){
    #new-prod-cont{
        top: 9vh;
        width: 78vw;
        left: 2vw;
        z-index: 1;
    }
}