#basket-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.basket-item{
    margin: 10px;
    padding: 4px;
    width: 200px;
    height: max-content;
}
.cart-item-image{
    border: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100px;
}
.det-bar{
    display: flex;
    width: max-content;
    align-items: center;
}
.dot{
    padding: 3px;
    background-color: #E94C24;
    border: hidden;
    border-radius: 100%;
}
.checkout-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.checkout{
    width: 40%;
}