.img-wrapper {
  flex-basis: 50%;
}

.form-wrapper {
  flex-basis: 40%;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

.input-field {
  width: 23.125em;
  padding: 10px;
  font-size: 1em;
  border-bottom: 1px solid #ccc;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.input-field:hover {
  border-color: var(--primary-color);
  transform: scale(1.02);
}

button {
  width: 23.125em;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.create-account-btn {
  background-color: var(--primary-color);
  color: white;
}

.create-account-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.google-btn {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.google-btn:hover {
  border-color: var(--primary-color);
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a {
  text-underline-offset: 6px;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--primary-color);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.input-field.ng-invalid.ng-touched {
  border-color: red;
}

.input-field.ng-valid.ng-touched {
  border-color: green;
}
