.det-bar,.order-container{
    display: flex;
    align-items: center;
}
.det-bar>h3,.det-bar>p{
    margin: 2px;
}
.order-container{
    width: 80%;
    border-bottom: solid thin #c6c6c6;
}
.h-light{
    color: #E94C24;
    margin-left: 4px;
}
.order-cont-sec-one{
    width: 35%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-cont-sec-two{
    width: 65%;
    padding: 20px;
}
.prod-img{
    border: hidden;
    border-radius: 10px;
    background-color: #949494;
    width: 90%;
    height: 200px;
}
.button-bar-far{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
@media screen and (max-width:680px){
    .order-container{
        flex-direction: column;
    }
    .order-cont-sec-one,.order-cont-sec-two{
        width: 100%;
    }
}