#user-img-profile{
    width: 40px;
    height: 40px;
    background-color: #d8dada;
    border: hidden;
    border-radius: 100%;
    cursor: pointer;
}
.inv-nav-option{
    cursor: pointer;
}
.user-type{
    color: #8d8d8d;
    font-weight: 600;
}
.user-set-cont{
    display: none;
}
.logo-icon{
    width: 40px;
    height: 40px;
}
.user-det-container{
    display: contents;
    padding: 8px;
}
#user-link-container{
    display:flex;
    align-items:flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    height: 170px;
}
.buyerpng{
    background-image: url(./buyerpng.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sellerpng{
    background-image: url(./sellerpng.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:800px){
    #user-img-profile{
        width: 12vw;
        height: 12vw;
        background-color: #d8dada;
        border: hidden;
        border-radius: 100%;
        cursor: pointer;
    }
    .user-set-cont{
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-top: 15px;
    }
}