.all-categories-display{
    padding: 15px;
    background-color: white;
    border: hidden;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    position: fixed;
    width: 70%;
    height: 70%;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}
#all-categories-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
.all-categories-body{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
}
#all-categories-footer{
    height: 10%;
    width: 100%;
}
.catg-cont{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: solid thin #535353;
}