<div class="viewing content">
    <div (click)="previous()">
        <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 
            22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 
            20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 
            11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM26 10.5L2 10.5V13.5L26 13.5V10.5Z" fill="#000000"/>
            </svg>
    </div> 
    <app-loader *ngIf="!producttodisplay" [loadState]="'load1'"></app-loader>
    <div *ngIf="producttodisplay">
        <div class="main-det">
            <div class="first-section">
                <h1>{{producttodisplay.product_name}}</h1> 
                <div class="sm-det">
                    <div class="typ-price">
                        <p class="p-n-bold" id="p-type">{{producttodisplay.product_type}}</p>
                        <div id="sep-div"></div>
                        <p class="p-n-bold">{{producttodisplay.product_price}}</p>
                    </div>
                    <div class="qty-cont">
                        <p class="p-n-bold">Qty</p> 
                        <button class="inc-dec inv-button-active" (click)="incquantity()">+</button>
                        <p class="p-n-bold">{{qty}}</p>
                        <button class="inc-dec inv-button-active" (click)="decquantity()">-</button>
                    </div>
                </div>
                <span class="bar">
                    <button class="fitter button-active" (click)="opennewchat(producttodisplay)">Chat Seller</button>
                    <button class="fitter" [class.button-active]="!productaddedtofavs" [class.fav-add]="productaddedtofavs" (click)="togglefavs()">
                        Favorite
                        <svg *ngIf="productaddedtofavs" id="fav-svg" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_30_27)">
                            <path d="M39.9993 70.3337L35.166 65.9337C17.9993 50.367 6.66602 40.1003 6.66602 
                            27.5003C6.66602 17.2337 14.7327 9.16699 24.9993 9.16699C30.7993 9.16699 36.366 11.867 
                            39.9993 16.1337C43.6327 11.867 49.1993 9.16699 54.9993 9.16699C65.266 9.16699 73.3327 
                            17.2337 73.3327 27.5003C73.3327 40.1003 61.9993 50.367 44.8327 65.967L39.9993 70.3337Z" 
                            fill="#ff4545"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_30_27">
                            <rect width="80" height="80" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                    </button>
                </span>
                <button class="baskt-add button-active" [disabled]="productaddedtocart" (click)="addtocart()">{{basketbuttonstatetext}}</button>
                <div id="prod-desc">
                    <h1>Product description</h1>
                    <p>{{producttodisplay.product_description}}</p>
                </div>
            </div>
            <div class="sec-section">
                <div id="prod-img-nd-desc">
                        <img [src]="'http://localhost/markt_php/uploads/'+producttodisplay!.product_images[productimageposcounter]+'small.jpg'" 
                        alt="product_image" id="main-prod-img">
                    <div id="nav-prod-images">
                        <div class="change-image" (click)="decimgcounter()">
                            <svg width="76" height="80" viewBox="0 0 76 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_701_22)">
                                <line x1="42.891" y1="3.53553" x2="7.53566" y2="38.8909" stroke="white" stroke-opacity="0.75" stroke-width="10"/>
                                <line x1="7.8871" y1="32.1656" x2="43.2424" y2="67.521" stroke="white" stroke-opacity="0.75" stroke-width="10"/>
                                </g>
                                <defs>
                                <filter id="filter0_d_701_22" x="0" y="0" width="50.7773" height="79.0566" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_701_22"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_701_22" result="shape"/>
                                </filter>
                                </defs>
                            </svg>
                        </div>
                        <div class="change-image" (click)="incimgcounter()">
                            <svg width="76" height="80" viewBox="0 0 76 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_701_21)">
                                <line x1="32.1676" y1="67.524" x2="67.5229" y2="32.1687" stroke="white" stroke-opacity="0.75" stroke-width="10"/>
                                <line x1="67.1715" y1="38.8939" x2="31.8162" y2="3.53859" stroke="white" stroke-opacity="0.75" stroke-width="10"/>
                                </g>
                                <defs>
                                <filter id="filter0_d_701_21" x="24.2812" y="0.00292969" width="50.7773" height="79.0566" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="4"/>
                                <feGaussianBlur stdDeviation="2"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_701_21"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_701_21" result="shape"/>
                                </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sold-by">
            <h1>View Seller</h1>
            <div id="seller-link">
                <div class="in-seller-link">
                    <div id="seller-img"></div>
                </div>
                <div class="in-seller-link">
                    <h1>Sold by: {{producttodisplay.seller_name}}</h1>
                    <button class="button-active" routerLink="/sellerview" [queryParams]="[producttodisplay.seller_id]">View Seller Page</button>
                </div>
            </div>
        </div>
    </div>
    <div class="oth-like">
        <h2>Products Like this</h2>
        <div class="products-container">

            <app-product-card style="border: 1px solid rgba(0, 0, 0, 0.175);margin: 15px;border-radius:0.375rem;" *ngFor="let product of likeproduct" [productData]="product">

            </app-product-card>
        </div>
        <div
        infiniteScroll 
        [infiniteScrollDistance] = "2"
        [infiniteScrollThrottle] = "1000"
        (scrolled)="onscroll()"> </div>
    </div>
</div>

