<div class="content">
    <div class="contains-main">
        <div class="main-details">
            <h1>{{sellertoview.shopname}}</h1>
            <p><b>Location:</b>
                {{sellertoview.house_number}}, {{sellertoview.street}}, {{sellertoview.city}}, 
                {{sellertoview.state}}</p>
            <div>
                <h3>Rating</h3>
                <div class="rating-container-s">
                    <div class="back-ground">
                        <div style="width: max-content">
                            <span class="icon-star-dark fa fa-star"></span>
                            <span class="icon-star-dark fa fa-star"></span>
                            <span class="icon-star-dark fa fa-star"></span>
                            <span class="icon-star-dark fa fa-star"></span>
                            <span class="icon-star-dark fa fa-star"></span> 
                        </div>
                    </div>
                    <div class="crop"
                    [style.width.px]="sellertoview.rating * 28.5">
                        <div style="width: max-content">
                            <span class="icon-star-on fa fa-star"></span>
                            <span class="icon-star-on fa fa-star"></span>
                            <span class="icon-star-on fa fa-star"></span>
                            <span class="icon-star-on fa fa-star"></span>
                            <span class="icon-star-on fa fa-star"></span> 
                        </div>
                    </div>
                </div>
                <h1>{{sellertoview.rating}}</h1> 
                <span></span>
            </div>
            <span class="bar">
                <button class="button-active">Chat</button>
                <button class="button-active">Favorite</button>
            </span>
        </div> 
        <div class="main-image">
            <img [src]="'http://localhost/markt_php/uploads/'+sellertoview.profile_image+'small.jpg'"
             alt="seller image" srcset="" class="seller-profile-image">
        </div>
    </div>
    <div id="desc">
        <h1>Description</h1>
        <p>{{sellertoview.description}}</p>
    </div>
    <div id="directions" *ngIf="sellertoview.directions.length > 0">
        <h1>Directions</h1>
        <p>{{sellertoview.directions}}</p>
    </div>
    <div>
        <h1>Rate Seller</h1>
        <p>Give us your experience with this seller. You can rate or comment</p>
        <span>
            <!-- <ngb-rating [max]="5" [(rate)]="userrating" [readonly]="false"></ngb-rating> -->
            <ng-container *ngFor="let rateVal of [1,2,3,4,5]">
                <input (click)="rateProduct(rateVal)" [id]="'star'+rateVal" [value]="rateVal" name="rating" type="radio" 
                class="radios"/>
                <label [for]="'star'+rateVal">
                    <span [class.icon-star-on]="getratevalclass(rateVal)" 
                    [class.icon-star-dark]="!getratevalclass(rateVal)" class="fa fa-star"></span>
                </label>
              </ng-container>
        </span>
        <div>
            <div *ngIf="!seller_review.comments.length">
                <p>No comments yet</p>
                <p>Bought something from this seller before? Tell us how the experience was.</p>
            </div>
            <div>
                <div *ngFor="let comment of seller_review.comments" class="comments">
                    <h2>{{comment.commenter}}</h2>
                    <p>{{comment.comment_body}}</p>
                </div>
            </div>
            <span>
                <h2>Comment on the seller</h2>
                <textarea name="" id="" cols="30" rows="10" [(ngModel)]="usercomment"></textarea>
                <button class="button-active" (click)="submitrating()">Submit</button>
            </span>
        </div>
    </div>
    <div id="prods">
        <h1>Products</h1>
        <div class="products-container">
            <div *ngFor="let item of sellerproducts" class="product" 
            routerLink="/display" [queryParams]="[item.product_id]">
            <img [src]="'http://localhost/markt_php/uploads/'+item.product_images[0]+'small.jpg'" 
            alt="" srcset="" class="product-image">
            <div class="product-details">
                <h3>{{item.product_name}}</h3>
                <span class="bar">
                    <p>{{item.product_price}}</p>
                    <svg *ngIf="!item.favorite" (click)="togglefav(item)" width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_30_17)">
                        <path d="M41.9023 8.12793C37.5523 8.12793 33.3773 10.1529 30.6523 13.3529C27.9273 10.1529 23.7523 8.12793 19.4023 8.12793C11.7023 8.12793 5.65234 14.1779 5.65234 21.8779C5.65234 31.3279 14.1523 39.0279 27.0273 50.7279L30.6523 54.0029L34.2773 50.7029C47.1523 39.0279 55.6523 31.3279 55.6523 21.8779C55.6523 14.1779 49.6023 8.12793 41.9023 8.12793ZM30.9023 47.0029L30.6523 47.2529L30.4023 47.0029C18.5023 36.2279 10.6523 29.1029 10.6523 21.8779C10.6523 16.8779 14.4023 13.1279 19.4023 13.1279C23.2523 13.1279 27.0023 15.6029 28.3273 19.0279H33.0023C34.3023 15.6029 38.0523 13.1279 41.9023 13.1279C46.9023 13.1279 50.6523 16.8779 50.6523 21.8779C50.6523 29.1029 42.8023 36.2279 30.9023 47.0029Z" fill="black"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_30_17">
                        <rect width="60" height="60" fill="white" transform="translate(0.652344 0.62793)"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <svg *ngIf="item.favorite" (click)="togglefav(item)" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_30_27)">
                        <path d="M39.9993 70.3337L35.166 65.9337C17.9993 50.367 6.66602 40.1003 6.66602 27.5003C6.66602 17.2337 14.7327 9.16699 24.9993 9.16699C30.7993 9.16699 36.366 11.867 39.9993 16.1337C43.6327 11.867 49.1993 9.16699 54.9993 9.16699C65.266 9.16699 73.3327 17.2337 73.3327 27.5003C73.3327 40.1003 61.9993 50.367 44.8327 65.967L39.9993 70.3337Z" fill="#E94C2A"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_30_27">
                        <rect width="80" height="80" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </span>
            </div>
        </div>
        </div>
    </div>
</div>