<div class="content">
    <app-search (search)="searchproduct($event)"></app-search>
    <h1 *ngIf="catgunder !=''">
        products under {{catgunder}}
    </h1>
    <div class="products-container">
        <div *ngFor="let item of marketplaceproducts | async" class="product">
        <app-product-card [productData]="item"></app-product-card>
    </div>
    <div
    infiniteScroll
    [infiniteScrollDistance] = "2"
    [infiniteScrollThrottle] = "1000"
    (scrolled)="onscroll()">
    <app-loader></app-loader>
    </div>
</div>
