<div class="content">
    <app-search (search)="searchproduct($event)"></app-search>
    <h1 *ngIf="catgunder !=''">
        products under {{catgunder}}
    </h1>
    <div class="products-container">
        <app-product-card style="border: 1px solid rgba(0, 0, 0, 0.175);margin: 15px;border-radius:0.375rem;" *ngFor="let item of prod" [productData]="item">

        </app-product-card>
    </div>
    <div
    infiniteScroll
    [infiniteScrollDistance] = "2"
    [infiniteScrollThrottle] = "1000"
    (scrolled)="onscroll()">
    </div>
    <app-loader [loadState]="'load3'" style="width: 100%;"></app-loader>
</div>
