#al-fav-cont{
    width: 100%;
}
.favorites-container{
    display: flex;
    flex-wrap: wrap;
}
.favorite{
    margin: 10px;
    width: 200px;
}
.favorite-image{
    width: 100%;
    border: hidden;
    border-radius: 20px;
    height: 200px;
}
