<div class="content">
    <div id="seller-det" *ngIf="usertype == 'seller'">
        <div *ngIf="sellerproductlist.length == 0"></div>
        <div *ngIf="sellerpendingorderlist.length == 0"></div>
        <div id="orders-part" *ngIf="sellerpendingorderlist.length > 0">
            <h2>New Orders</h2>
            <div id="orders-container">
                <div *ngFor="let item of sellerpendingorderlist" class="order">
                    <div id="order-main-details">
                        <div>
                            <img [src]="'http://localhost/markt_php/uploads/'+item.product_image+'small.jpg'" alt=""
                            class="product-order-image">
                        </div>
                        <div>
                            <h2>{{item.product_name}}</h2>
                            <h4>Qty:{{item.product_quantity}}</h4>
                            <h6>From {{item.buyer_name}}</h6>
                        </div>
                    </div> 
                    <span>
                        <button class="button-active" (click)="acceptorder(item.order_id)">
                            Accept</button>
                        <button class="button-active" (click)="declineorder(item.order_id)">
                            Decline</button>
                    </span>
                </div>
            </div>
        </div> 
        <div id="products-part" *ngIf="sellerproductlist.length > 0">
            <h2>Your Shop Products</h2>
            <div class="products-container">
                <div *ngFor="let item of sellerproductlist" class="product">
                    <img [src]="'http://localhost/markt_php/uploads/'+item.product_images[0]+'small.jpg'" 
                    alt="" srcset="" class="product-image">
                    <div class="product-details">
                        <h3>{{item.product_name}}</h3>
                        <span class="bar">
                            <p>{{item.product_price}}</p>
                            <div class="seperator"></div>
                            <p>{{item.product_type}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="buyer-det" *ngIf="usertype == 'buyer'">
        <div class="product-query-container">
            <div>
                <h1 id="in-header-text">Looking for something in particular?</h1>
                <p>Type in the kind of product you are looking for or a description of the product 
                    and have sellers respond to your requests.</p>
            </div>
            <div>
                <textarea name="query-text" id="query-text" cols="30" rows="10" 
                [placeholder]="'e.g '+queryplaceholder" [(ngModel)]="query">
                </textarea>
                <span>
                    <p id="und-p-text">Add a category you think the product would be in</p>
                    <div id="query-catg-cont" *ngIf="buyerquerycategory.length">
                        <div *ngFor="let item of buyerquerycategory" class="button-active">
                            <span style="margin-right: 5px;">{{item}}</span> 
                            <span (click)="removefromcategories(item)">x</span>
                        </div>
                    </div>
                    <button class="inv-button-active" (click)="opencatgories()">add +</button>
                </span>
                <button class="submit-button inv-button-active" (click)="submitquery()">Submit</button>
            </div>
        </div>
        <h2>One or more of your recent orders are already on their way</h2>
        <div class="order-container">
            <div *ngFor="let order of buyerorderlist" class="buyer-order-cont">
                <div [style]="" class="buyer-order-img">
                    <!-- 'http://localhost/markt_php/uploads/'+order.product_image+'small.jpg' -->
                </div>
                <div class="buyer-order-det">
                    <h3>{{order.product_name}}</h3>
                    <p *ngIf="order.accepted && order.received_by_delivery">
                        <b>Status: </b>
                    </p>
                    <p *ngIf="order.accepted && !order.received_by_delivery">
                        <b>Status: </b>Not Collected(Still with seller)
                    </p>
                    <p *ngIf="!order.accepted && order.seller_id"><b>Status: </b>Not yet accepted or declined</p>
                    <p *ngIf="!order.accepted && !order.seller_id"><b>Status: </b>Order declined by Seller</p>
                    <p>qty: {{order.product_quantity}}</p>
                    <span class="bar">
                        <button class="button-active" (click)="opennewchat()">Chat with Seller</button>
                        <button class="button-active" routerLink="/sellerview" [queryParams]="[order.seller_id]">Seller Info</button>
                    </span>
                </div>
            </div>
        </div>
        <h4>Buy more products or services in the <a routerLink="/marketplace"> Marketplace</a></h4>
    </div>
</div>
<app-category-list *ngIf="catgshow" (lister)="mergecatgs($event)" [state]="'categories'"></app-category-list>
