#top-bar,#seller-det,#orders-part,#products-part,.bar{
    width: 100vw;
}
#top-bar,.bar,.user-set-cont{
    display: flex;
    align-items: center;
    height: 20%;
} 
.seperator{
    width: 7px;
    height: 7px;
    background-color: #bababa;
    color: #bababa;
    border: hidden;
    border-radius: 100%;
}
.bar{
    width: 60%;
    justify-content: space-between;
}
#seller-det,#orders-container,#products-container{
    height: 80%;
}
#orders-container,#products-container{
    margin-left: 15px;
}
#products-container,.order-container{
    display: flex;
    flex-wrap: wrap;
}
#orders-part{
    height: 40%;
}
#products-part{
    height: 60%;
}
#order-main-details{
    display: flex;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5px;
}
.product-order-image{
    background-color: #bababa;
    width: 150px;
    height: 150px;
    border: hidden;
    border-radius: 20px;
}
.buyer-order-cont{
    width: 30%;
    height: 40%;
    border: solid thin;
    border-radius: 25px;
    margin: 15px;
}
.buyer-order-img{
    padding-bottom: 50%;
    border: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    background-color: #bababa;
}
.buyer-order-det{
    padding: 4px;
    width: 100%;
    height: 50%;
}